@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overused Grotesk';
  src:
    url('/fonts/OverusedGrotesk-VF.woff2') format('woff2 supports variations'),
    url('/fonts/OverusedGrotesk-VF.woff2') format('woff2-variations');
  font-weight: 400 500;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow: hidden;
}

html {
  overscroll-behavior: none;
  overflow: hidden;
}
